<div class="center-container">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="inbox-container">
        <mat-list>
          <div *ngFor="let thread of threads; let i = index">
            <mat-list-item [routerLink]="['/thread', thread.id]" #contextMenuTrigger (contextmenu)="onContextMenu($event, thread)">
              <!-- 
              <div [matMenuTriggerFor]="contextMenu" #contextMenuTrigger></div>
                [matMenuTriggerFor]="contextMenu" #matMenuTrigger="matMenuTrigger" -->
              
              <!-- Private Message  -->
              <mat-icon matListItemIcon *ngIf="unreadCountsNumber[i] && (thread.members.length <= 2)" [matBadge]="unreadCountsNumber[i]" matBadgeColor="primary">person</mat-icon>
              <mat-icon matListItemIcon *ngIf="!unreadCountsNumber[i] && (thread.members.length <= 2)">person</mat-icon>
              
              <!-- Group Message -->
                  <mat-icon matListItemIcon *ngIf="unreadCountsNumber[i] && (thread.members.length > 2)" [matBadge]="unreadCountsNumber[i]" matBadgeColor="primary">group</mat-icon>
                  <mat-icon matListItemIcon *ngIf="!unreadCountsNumber[i] && (thread.members.length > 2)">group</mat-icon>
                  
                  <span matListItemTitle>{{ thread.subject || 'No Subject' }}</span>
                  <span matListItemLine *ngIf="thread.lastMessage?.content">{{shortenMessage(thread.lastMessage!.content,20)}}</span>
                  
                  <!-- Created At -->
                  <span class="timestamp" matListItemLine *ngIf="thread.lastMessage?.timestamp"> {{ thread.lastMessage?.timestamp | date:'shortTime' }}</span>
                </mat-list-item>
                <mat-divider></mat-divider>
              </div>
        </mat-list>
      </div>
      <div style="visibility: hidden; position: fixed"
          [style.left]="contextMenuPosition.x"
          [style.top]="contextMenuPosition.y"
          [matMenuTriggerFor]="contextMenu">
      </div>
      <!-- Create new Thread (disabled for now) -->
      <button mat-fab class="create-message-button" color="primary" routerLink="/new-thread">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #contextMenu="matMenu">
        <ng-template matMenuContent let-thread="thread">
          <button mat-menu-item disabled>
            <mat-icon>mark_chat_unread</mat-icon>
            Mark as unread
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item disabled>
            <mat-icon>push_pin</mat-icon>
            Pin to top
          </button>
          <button mat-menu-item disabled>
            <mat-icon>volume_off</mat-icon>
            Mute notifications
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item disabled>
            <mat-icon>archive</mat-icon>
            Archive Thread
          </button>
          <!-- Delete/Leave Thread -->
          <button mat-menu-item *ngIf="(thread.members.length <= 2)" (click)="deleteThread(thread)">
            <mat-icon>delete</mat-icon>
            Delete Thread
          </button>
          <button mat-menu-item *ngIf="(thread.members.length > 2)" (click)="removeThread(thread)">
            <mat-icon>logout</mat-icon>
            Leave Thread
          </button>
        </ng-template>
      </mat-menu>
</div>
