<div class="center-container">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="inbox-container">
        <mat-list>
            <mat-list-item *ngFor="let thread of threads" [routerLink]="['/thread', thread.id]">
                <!-- Private Message -->
                <mat-icon matListItemIcon *ngIf="thread.members.length <= 2">person</mat-icon>

                <!-- Group Message -->
                <mat-icon matListItemIcon *ngIf="thread.members.length > 2">group</mat-icon>
                
                <span matListItemTitle>{{ thread.subject || 'No Subject' }}</span>
                <span matListItemLine *ngIf="thread.lastMessage">{{ shortenMessage(thread.lastMessage, 50) }}</span>

                <!-- Created At
                  <span matListItemLine *ngIf="thread.createdAt">Created: {{ thread.createdAt | date}}</span>
                -->
                <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
      </div>
      <!-- Create new Thread (disabled for now)
        <button mat-fab class="create-message-button" color="primary" routerLink="/new-thread">
          <mat-icon>add</mat-icon>
        </button>
      -->
</div>
