<div class="mat-app-background">
    <mat-toolbar color="primary">
        <button *ngIf="isLoggedIn()" mat-icon-button (click)="toggleMenu()" aria-label="Menu">
            <mat-icon>menu</mat-icon>
        </button>
        <span>{{ toolbarTitle }}</span>
        <span class="spacer"></span>
        <button *ngIf="isLoggedIn()" mat-icon-button [matMenuTriggerFor]="accountMenu" aria-label="Account Settings">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #accountMenu="matMenu">
            <p *ngIf="currentUser" style="padding: 0 16px;">Welcome, {{ currentUser.name }}</p>
            <mat-divider *ngIf="currentUser"></mat-divider>
            <button mat-menu-item [routerLink]="['/account']">
                <mat-icon>settings</mat-icon>
                <span>Account Settings</span>
              </button>
            <mat-divider *ngIf="currentUser"></mat-divider>
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              <span>Logout</span>
            </button>
        </mat-menu>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <mat-nav-list>
                <a mat-list-item routerLink="/inbox" routerLinkActive="active" (click)="sidenav.close()">
                    <mat-icon matListIcon>mail</mat-icon>
                    Inbox
                </a>
                <a mat-list-item routerLink="/account" routerLinkActive="active" (click)="sidenav.close()">
                    <mat-icon matListIcon>account_circle</mat-icon>
                    Account
                </a>
                <!-- Add more navigation items here -->
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>
</div>
