.center-container {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: calc(100vh - 64px);
  }

  .step-content {
    height: 300px; // Adjust this value according to your desired height
  }

  .form-row {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
  