.center-container {
    display: grid;
    justify-items: center;
    align-items: center;
    min-height: calc(100vh - 64px);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }