<div class="center-container">
    <mat-card>
        <mat-card-content>
            <form class="form-container" [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
                    <h1>Login</h1>
                    <mat-form-field appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" type="email" required [disabled]="isLoading"/>
                        <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                            <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</span>
                            <span *ngIf="loginForm.get('email')?.errors?.['email']">Please enter a valid email.</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" type="password" required [disabled]="isLoading"/>
                        <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                            <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
                        </mat-error>
                        <mat-error *ngIf="emailPassInvalid">
                            <span>Incorrect email or password</span>
                        </mat-error>
                    </mat-form-field>
                    <mat-divider></mat-divider>
                    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">Login</button>
                    <a>Don't have an account?<a mat-button routerLink="/register">Register</a></a>
            </form>
        </mat-card-content>
        <mat-card-footer>
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        </mat-card-footer>
    </mat-card>
</div>