<div class="center-container">
    <form class="form-container">
        <mat-form-field appearance="fill">
            <mat-label>Members</mat-label>
            <mat-chip-grid #chipGrid aria-label="Member selection">
              <mat-chip-row *ngFor="let member of members" (removed)="remove(member)" color="primary">
                {{member.name}}
                <button matChipRemove [attr.aria-label]="'remove ' + member">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip-row>
            </mat-chip-grid>
            <input placeholder="Add members..." #memberInput [formControl]="threadCtrl"
              [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              (matChipInputTokenEnd)="add($event)"/>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let member of filteredMembers | async" [value]="member.name">
                {{member.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    </form>
</div>
