<div class="center-container">
    <form class="form-container" [formGroup]="threadForm" (ngSubmit)="createThread()">
        <mat-card>
            <mat-card-header>
                <mat-card-title>New Thread</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field appearance="fill">
                    <mat-label>Subject</mat-label>
                    <input matInput required formControlName="subject">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Members</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Member selection">
                    <mat-chip-row *ngFor="let member of members" (removed)="remove(member)" color="primary">
                        {{member.name}}
                        <button matChipRemove [attr.aria-label]="'remove ' + member">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    </mat-chip-grid>
                    <input required placeholder="Add members..." #memberInput [formControl]="threadCtrl"
                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="add($event)"/>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                    <mat-option *ngFor="let member of filteredMembers | async" [value]="member.name">
                        {{member.name}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button routerLink="/inbox" >Cancel</button>
                <button mat-raised-button color="primary" type="submit">Create</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
